{{ marker }}

### SVG previews
{% for figure in figures %}

<table>
<tr>
{% for p in figure %}
<td align="center"><img src="{{ raw }}/{{ p.filename }}" {{ p.side }}="240"></td>
{% endfor %}
</tr>
<tr>
{% for p in figure %}
<td>

<p align="center">From <a href="{{ p.link }}">{{ p.label }}</a>, {{ p.where }}</p>
{% if sources %}

<details><summary>Code</summary>

{{ p.fence }}svg
{{ p.source }}
{{ p.fence }}

</details>
{% endif %}

</td>
{% endfor %}
</tr>
</table>
{% endfor %}
